* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;  
    background-color: #1f2937;
    padding: 15px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-left: 50px;
}

.header_links ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 50px;
}

.header_links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background-color: #1f2937;
    color: white;
}

.test {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 20px;

}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 500px;
}

.hero button {
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    padding: 10px 15px;
    display: inline-block;
}

.hero button:hover {
    background-color: #1e60d9;
}


.image-placeholder img {
    width: 350px; 
    height: auto; 
    max-width: 100%; 
}


.hero .image-placeholder {
    flex-shrink: 0;
}

.info-section {
    text-align: center;
    padding: 50px;
    background-color: white;
}

.info-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.info-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.info-box {
    width: 200px;
    height: 200px;
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgb(0, 110, 255);
}

.quote {
    background-color: #e5e7eb;
    padding: 60px;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

blockquote {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

cite {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    color: black;
    text-align: right;
}

.cta {
    background-color: #3882f6;
    color: white;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.cta p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border:2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta button:hover {
    background-color: #1e60d9;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 16px;
}
